.page-input {
  width: 50%;
  display: inline-block;
  padding: 8px;
  //   磨平
  .normalize-input;
}

.page-inpt-container {
  --insert-color: #cfcfd4;
  .relative;
  background-color: #fff;
  padding: 4px 28px 6px 6px;
  border: 1px solid var(--insert-color);
  border-radius: 8px;

  input {
    // 看清
    color: #000;
    font-size: 14px;
    line-height: 14px;
    text-indent: 2px;
    padding: 1px 2px;
    height: 100%;
    // 文案距离左边矿 2px + 3px + 1px -> 6px
  }
  &::after {
    .absolute;
    content: attr(data-text);
    left: 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--insert-color);
    padding: 4px 2px;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
  }

  &.active::after {
    background-color: @primary-container-bg;
    transform-origin: center;
    transform+_: translateY(-16px);
    transform+_: scale(0.8);
    padding: 4px;
  }

  &.focus-instert {
    --insert-color: #3c69c8;
  }

  .input-icon {
    .absolute;
    right: 0;
    top: 50%;
    transform+_: translateY(-50%);
    transform+_: translateX(-50%);
    width: 16px;
    height: 16px;
  }
}
