.c-priview {
    .full-page;
    overflow: hidden;
    padding: @base-padding * 1.5;
    // 
    .c-priview-container {
        .full-page;
        background-color: #fff;
    }
}

.c-perview-block:hover{ 
    background-color: #c0c0c0;
}