.c-tool {
  flex: 1;
  .full-page;
  display: flex;
  background-color: rgba(122, 116, 116, 0.2);
}
.c-tool-list {
  width: 5rem;
  height: 100%;
}
.c-tool-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #fff;
}
// 工具信息
.c-tool-content-info {
  width: 100%;
  background-color: #fff;
}
.c-tool-content-info-title {
  margin: 0;
  height: 5rem;
  line-height: 5rem;
  padding:@base-padding;
}
.c-tool-list-item {
  border-top: 1px solid rgba(204, 204, 204,.2);
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  .flex-c-c;
  &:hover,
  &.active {
    background-color: #fff;
  }
}

// 
.c-tool-content-item {
  .full-page;
}

.tools-map-render.hidden {
    display: none;
}