.config-form {
  width: 400px;
  height: 400px;
  font-size: 1rem;
}
.config-form-label {
    margin-bottom: 0 !important;
  label {
    font-size: 1.5rem !important;
  }
  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
}
