.app-platform {
    display: flex;
    background-color: #ccc;
}

.border-shadow {
    box-shadow: 0 0 2px #cacaca;
}
// 组件树
.app-platform-component {
  width: 30rem;
  padding: @base-padding;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

// 预览
.app-platform-template {
flex: 1;
}

// 配置区域
.app-platform-config {
    width: 20rem;
    background-color: #fff;
}

// 组件树
.c-tree {
    width: 100%;
    height: 100%;
    padding: @base-padding;
}