// 登陆过度
.page-loading {
  .absolute;
  .full-page;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}
.page-loading-container {
  .full-page;
  .flex-c-c;
  flex-direction: column;
  background-color: #3c69c8;
  clip-path: circle(60px at 50% 50%);
  animation: spread 0.6s linear 0s 1 forwards;
}

.loading-tips {
  color: #fff;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
}
.page-circle {
  .relative;
  .flex-c-c;
  --loading-process: 100%;
  --turn-process: 0;

  height: 120px;
  width: 120px;
  border-radius: 100%;
  background: conic-gradient(
    rgba(255, 255, 255, 1) var(--loading-process),
    transparent var(--loading-process)
  );
  overflow: hidden;
  // 底色ring
  &::before {
    .absolute;
    display: inline-block;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    left: 0;
    top: 0;
  }
  // 不动点
  &::after {
    .absolute;
    display: inline-block;
    content: '';
    height: 7.5%;
    width: 7.5%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    left: 46.25%;
    z-index: 1;
  }

  // 中心ring

  .circle-radius {
    .absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    // background-color: yellow;
    transform: rotate(calc(var(--turn-process) * 1turn));
    &::after {
      .absolute;
      display: inline-block;
      content: '';
      height: 7.5%;
      width: 7.5%;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 1);
      top: 0;
      left: 46.25%;
      z-index: 1;
    }
  }
}

.center-container {
  .absolute;
  .flex-c-c;
  display: inline-block;
  content: '';
  height: 85%;
  width: 85%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
  background-color: #3c69c8;
}
//
.success-container {
  .absolute;
  top: -1%;
  left: -1%;
  height: 102%;
  width: 102%;
  flex: 1;
  background-color: #fff;
  clip-path: circle(0px at 50% 50%);
  animation: spread 0.6s linear 0.4s 1 forwards;
  .flex-c-c;
}

.success-check {
  width: 60%;
  height: 60%;
  clip-path: inset(0 100% 0 0);
  animation: spread-check 0.6s ease-in-out 1s 1 forwards;
  img {
    height: 100%;
    width: 100%;
  }
}

@keyframes spread {
  0% {
    // clip-path: circle(60px at 50% 50%);
  }

  100% {
    clip-path: circle(100%);
  }
}

@keyframes spread-check {
  0% {
    // clip-path: circle(60px at 50% 50%);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}
