.c-config {
  .full-page;
  display: flex;
  background-color: rgba(122, 116, 116, 0.2);
}

.c-config-container {
  .full-page;
  padding: @base-padding;
}

.c-config-item {
  .ant-form-item {
    margin-bottom: 0 !important;
  }
  .ant-form-item-label {
    padding-bottom: 0 !important;
    font-size: 2rem !important;
  }
  .ant-collapse-header {
  }
}
