@node-height: 3rem;
@arrow-width: 2rem;

.c-tree {
  color: #000;
}
.c-tree-node {
  height: @node-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  &.active {
    background-color: rgba(118, 121, 124,.2);
  }
  &:active {
    background-color: rgb(160, 198, 238);
  }
  .c-tree-node-icon {
    font-size:@arrow-width;
    line-height:@arrow-width;
    text-indent:@arrow-width;
  }
  .c-tree-node-label {
    text-indent: 0.5rem;
    font-size: 1.5rem;
  }
}

.c-tree-collspan {
  position: relative;
  width: 100%;
  height: @node-height;
  &.expand {
    height: auto;
  }

  .c-tree-collspan-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: @node-height;
    font-size: 1.25rem;
    color: #616161;
    .flex-c-c;
  }
  .c-tree-collspan-children {
    padding-left:@arrow-width;
  }
}
