@node-height: 3rem;

.c-tree {
  .full-page;
  color: #000;
}
.c-tree-node {
  height: @node-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-indent: 2rem;
  &:active {
    background-color: rgb(160, 198, 238);
  }
  .c-tree-node-icon {
    font-size: 2rem;
    line-height: 2rem;
  }
  .c-tree-node-label {
    text-indent: .5rem;
    font-size: 1.5rem;
  }
}

.c-tree-collspan {
  position: relative;
  width: 100%;
  height: @node-height;
  &.expand {
    height: auto;
  }

  .c-tree-collspan-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: @node-height;
    font-size: 1.25rem;
    color: #616161;
    .flex-c-c;
  }
  .c-tree-collspan-children {
    padding-left: 2rem;
  }
}
